[mysql]
default-character-set=utf8mb4

[mysqld]
federated
default-storage-engine=INNODB
character_set_server=utf8mb4

datadir = /var/lib/mysql
port = 3306
socket = /var/run/mysqld/mysqld.sock
lower_case_table_names=1
ft_min_word_len=1
max_allowed_packet=100M
default_password_lifetime = 0

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
max_connections = 32000

###sql调优开启以下注释  生产注意不要开启  消耗性能
## 开始

#开启慢查询分析
#log_bin_trust_function_creators=1
# 开启通用日志
#general_log=1
# 通用日志地址
#general_log_file=/var/log/mysql/general.log
# 开启慢查询日志
#slow_query_log=1
# 慢查询日志地址
#slow_query_log_file=/var/log/mysql/sql-slow.log
# 慢查询阀值
#long_query_time=3
# 输出方式，FILE表示文件，TABLE表示数据库（可以在mysql库中看到日志），可以同时使用，方法如上，也可单独使用比如log_output='FILE'，输出到文件比输出到数据库效率高
#log_output=FILE

## 结束


### 主从复制配置
##开始

##主机配置
##主服务器唯一 ID
server-id=1
##启用二进制日志
#log-bin=mysql-bin
# 设置不要复制的数据库(可设置多个)
#binlog-ignore-db=mysql
#binlog-ignore-db=information_schema
#设置需要复制的数据库
#binlog-do-db=需要复制的主数据库名字
#设置logbin格式
#binlog_format=STATEMENT



##从机服务 id
##注意 my.cnf 中有 server-id = 1
#server-id = 2
##启用二进制日志
#log-bin=mysql-slave-bin
#启用中继日志
#relay-log=mysql-relay

##结束

